{% extends "base.html" %}

{% block content %}

{% for game in all_games %}
    <div class="game">
        <div class="content">
            <a href="/games/{{game.id}}">{{ game.title }}</a>
            {{ game.developer }}
            <a href="/publishers/{{publisher.id}}">{{ game.publisher.title }}</a>
            {{ game.genre }}
            {{ game.wholesale }}
            {{ game.price }}
            {{ game.stock }}
        </div>
        <div class="buttons">
            <form class="delete-form" action="/games/{{game.id}}/delete" method="POST">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden=true></i></button>
            </form>
            {% if game.stock == 0 %}
                <span>Out of Stock &#128683; </span>
            {% elif game.stock =< 5 and => 0 %}
                <span> Low Stock &#9888; </span>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}
