{% extends "base.html" %}

{% block content %}

<h2 class="pagetitle">Games</h2>
<div class="gameinfo">
{% for game in games %}


    <div>
        <p class='gameinfocontent'>
        <h3 class='gametitle'>{{ game.title }}</h3>
        <p class='publishername'>{{ game.publisher.publisher_name }}</p>
        <a class="gamedetails" href="/games/{{ game.id }}">Details</a><br>
        <a class="editlink" href="/games/{{ game.id }}/edit">Edit</a>
        <p class='deletebuttonwhole'><form action="/games/{{ game.id }}/delete" method="POST">
            <input type="submit" class='deletebutton' value="Delete">
        </form>
    </p>
        </p>
        {% if game.stock >= 6 %}
            <p class='instock'>In Stock</p>
        {% elif game.stock == 0 %}
            <p class='outofstock'>Out of Stock</p>
        {% else %}
            <p class='lowstock'>Low Stock</p>
        {% endif %}
    </div>


{% endfor %}
</div>
<p class="newbuttonwhole">
    <a href="/games/new"><button class='newbutton'>Add Game</button></a>
</p>

{% endblock %}
