{% extends "base.html" %}

{% block content %}

<h2>New Game</h2>

<form action="/games/" method="POST">
    <div>
        <label for="name">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="name">Developer:</label>
        <input type="text" id="developer" name="developer">
    </div>
    <div>
        <label for="publisher">Publisher:</label>
        <select name="publisher_id" id="publisher">
            {% for publisher in publishers %}
            <option value="{{ publisher.id }}">
                {{ publisher.publisher_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="name">Genre:</label>
        <input type="text" id="genre" name="genre">
    </div>
    <div>
        <label for="name">Wholesale:</label>
        <input type="text" id="wholesale" name="wholesale">
    </div>
    <div>
        <label for="name">Price:</label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="name">Stock:</label>
        <input type="text" id="stock" name="stock">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}