{% extends "base.html" %}

{% block content %}

<h2 class ="pagetitle">New Game</h2>

<form action="/games" method="POST">
    <div>
        <label for="title" class ="pagetext">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="developer" class ="pagetext">Developer:</label>
        <input type="text" id="developer" name="developer">
    </div>
    <div>
        <label for="publisher" class ="pagetext">Publisher:</label>
        <select name="publisher_id" id="publisher">
            {% for publisher in publishers %}
            <option value="{{ publisher.id }}">
                {{ publisher.publisher_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="genre" class ="pagetext">Genre:</label>
        <input type="text" id="genre" name="genre">
    </div>
    <div>
        <label for="wholesale" class ="pagetext">Wholesale:</label>
        <input type="text" id="wholesale" name="wholesale">
    </div>
    <div>
        <label for="price" class ="pagetext">Price:</label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="stock" class ="pagetext">Stock:</label>
        <input type="text" id="stock" name="stock">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}