#basebody {
    background: url("/static/images/desert_background.avif");
}

.gamebutton {
    position: absolute;
    width: 300px;
    height: 45px;
    left: 500px;
    top: 414px;

    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 39px;

    color: #FFFFFF;
}

.publisherbutton {
    position: absolute;
    width: 300px;
    height: 39px;
    left: 818px;
    top: 414px;

    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 39px;

    color: #FFFFFF;

}

.indextitle {
    position: absolute;
    width: 1000px;
    height: 76px;
    left: 285px;
    top: 281px;
    
    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 76px;

    text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;

    color: #FFFFFF;
}

.gameinfo {

    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;

    font-family: 'Boogaloo';

    text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;

    color:#FFFFFF

}

#pageheader {
    font-family: 'Boogaloo';

    text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;

    color:#FFFFFF

}

#basebody {
    text-decoration: none;
    color: black
}

.navbar {
    text-decoration: none;
    font-family: 'Boogaloo'

}

.navbar:link {
    color: white;
}

.navbar:visited {
    color: white;
}

.menu {
    list-style: none;
    text-decoration: none;
}

.publisherinfo {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;

    font-family: 'Boogaloo';

    text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;

    color:#FFFFFF
}

#editlink {
    text-decoration: none
}

#editlink:link {
    color: white
}

#editlink:visited {
    color: white
}

.gamedetails {
    text-decoration: none
}

.gamedetails:link {
    color: white
}

.gamedetails:visited {
    color: white
}

.pagetext {
    color: white;
    font-family: 'Boogaloo';
}

.pagetitle {

    color: white;
    font-family: 'Boogaloo';
    font-size: 80px
}