{% extends "base.html" %}

{% block content %}

<h2>Edit Game</h2>

<form action="/publishers/{{ publisher.id }}" method="POST">
    <div>
        <label for="publisher_name">Publisher Name:</label>
        <input type="text" id="publisher_name" name="publisher_name" value="{{ publisher.publisher_name }}">
    </div>
    <div>
        <label for="contact_details">Contact Details:</label>
            <input type="text" id="contact_details" name="contact_details" value="{{ publisher.contact_details }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
