{% extends "base.html" %}

{% block content %}

<h2 class='pagetitle'>Publishers</h2>
<div class='publisherinfo'>
{% for publisher in publishers %}

    <div>
        <p class='publisherinfocontent'>
        <h3 class='gametitle'>{{ publisher.publisher_name }}</h3>
        <p>{{ publisher.contact_details}}</p>
        <a class="editlink" href="/publishers/{{ publisher.id }}/edit">Edit</a> 
        <p><form action="/publishers/{{ publisher.id }}/delete" method="POST">
            <input type="submit" class='deletebutton' value="Delete">
        </form>
        </p>
    </div>

{% endfor %}
</div>
<p class='newbuttonwhole'>
    <a href="/publishers/new"><button class='newbutton'>Add Publisher</button></a>
</p>
{% endblock %}